@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@heroui/styles";



.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.roboto-semibold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.skill-card-hover {
  /* This ensures all changes (bg, transform, shadow) are smooth */
  @apply transition-all duration-300 ease-out;
  @apply cursor-default select-none;

  &:hover {
    @apply bg-background/30;
    /* translate-y-[-4px] moves it up, scale-105 enlarges it slightly */
    @apply -translate-y-1 scale-105;
    /* Adds a subtle glow/shadow to enhance the "lift" effect */
    @apply shadow-lg shadow-background/10;
  }
}
